#ignore all kind of files
*
# but not subdirs
!*/
#except php files
!*.c
!*.h
!/doc/*.tex
!/doc/*.md
!/doc/*.txt
!CMakeLists.txt
!build
!.gitignore
!README.md

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
